body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('/static/background.png') no-repeat center center fixed;
    background-size: cover;
    background-color: #f4f4f4;
  }
  
  header {
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semi-transparente */
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  main {
    padding: 20px;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.5); /* Fondo semi-transparente al 50% */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  section {
    margin-bottom: 20px;
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  form input,
  form textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  form button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #555;
  }
  
  #result {
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #correct-form {
    background-color: rgba(255, 255, 255, 0.5); /* Fondo semi-transparente al 50% */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none; /* Inicialmente oculto */
  }
  